html,body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.navcomponent{
    width: 100%;
    height: 90px;
    background: black;
    position: fixed;
    
}

.navcomponent,a{
    color: aliceblue !important;
    float: right !important;
    position: relative !important;
    padding: 10px !important;
    margin-top: auto; margin-bottom: auto !important;
    
}

#firstcontainer{
    width: 50%;
    height: 100%;
    background: wheat;
    float: left;

}

#secoundcontainer{
    width: 50%;
    height: 100%;
    background: wheat;
    float: left;
}

.part1{
    width: 300px;
    height: 300px;
    background: blue;
    position: relative;
    margin-left: auto; margin-right: auto;
    top: 150px;

}

.part2{
    width: 500px;
    height: 300px;
    background: white;
    position: relative;
    margin-left: auto; margin-right: auto;
    top: 150px;
    border-radius: 40px;
    border: 2px solid black;

}

/* .loginid{
    width: 400px;
    height: 50px;
    background:wheat;
    margin-left: auto; margin-right: auto;
    top: 50px;
    position: relative;
    border-radius: 40px;

}

.password{
    width: 400px;
    height: 50px;
    background:wheat;
    margin-left: auto; margin-right: auto;
    top: 60px;
    position: relative;
    border-radius: 40px;
    
} */

.btn{
    position: absolute;
    top: 200px;
    left: 125px;
    padding: 10px 100px 10px !important; 
    border-radius: 40px !important;
    border: 2px solid black!important;
    
}

input[type=text] {
    width: 400px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    position: relative;
    top: 30px;
    left: 50px;
    border-radius: 40px;

  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }

  .material-icons {
    margin: 0px 50px;
    padding: 5px;
  }

  p{
      color: white;
      text-align: center;
  }

  p:hover {
    text-decoration: none;
  }


@media only screen and (max-width: 600px) {
    #firstcontainer{
        width: 100%;
        height: 25%;
        background:white;
        float: left;
    }

    #secoundcontainer{
        background: rgb(255, 255, 255);
        float: left;
        height: 0%;
    }

    .part1{
        width: 200px;
        height: 200px;
        background: blue;
        position: relative;
        margin-left: auto; margin-right: auto;
        top: 50px;
    }

    .part2 {
        width: 415px;
        height: 300px;
    }

    .loginid,.password{
        width: 300px;
    }

    .btn {
        left: 85px;
    }

    .input{
        width: 200px !important;
}
}